<footer class="min-h-24 flex-shrink-0 justify-center p-5 border-2 border-solid
    border-black bg-gray-900 text-white">
<div class="max-w-5xl mx-auto my-7">
    <div class="flex flex-row mb-5">
        <div class="w-full mr-5">
            <p>Copyright {{ i18n "rowingclub_name" }}, {{ now.Year }}. {{ i18n "footer_all_rights_reserved" }}.</p>
        </div>
        <div class="w-full">
            {{ $page := . }}
            {{- range $key, $link := .Site.Params.footer.links }}
                <p><a class="bg-transparent" href="{{ $page.Ref (dict "path" $link "lang" "de") }}">{{ i18n $key }}</a></p>
            {{ end }}
        </div>
    </div>
    <div class="w-full flex">
        {{ range $social := .Site.Params.footer.socials }}
        <a href="{{ $social.href }}"
            target="_blank" 
            class="relative h-auto min-w-12 min-h-12 m-1 bg-contain bg-no-repeat text-xl hover:opacity-50 bg-transparent"
                style="background-image: url(&quot;{{ (resources.Get $social.image).Permalink }}&quot;);">

            <img src="{{ (resources.Get "bundle/external_link_light.svg").Permalink }}" width="14pt" class="absolute bottom-0 right-0"></img>
            <!--<img class="h-7 w-auto" src="/bundle/facebook-icon-light.svg" alt="Facebook">-->
        </a>
        {{ end }}
    </div>
</div>
</footer>
