<footer>
<div class="container">
    <div class="footer-content">
        <div class="footer-content__left-group">
            <p>Copyright {{ i18n "rowingclub" }} Kleinmachnow Stahnsdorf Teltow, {{ now.Year }}. {{ i18n "footer_all_rights_reserved" }}.</p>
        </div>
        <div class="footer-content__right-group">
            <!--<h2 class="footer-content__site-name">{{ site.Title }}</h2>-->
            <p><a href="/impressum" class="">{{ i18n "imprint" }}</a></p>
            <p><a href="/datenschutz">{{ i18n "data_protection"}}</a></p> 
        </div>
    </div>
    <div class="footer-social">
        <a href="https://www.facebook.com/wanderrudern" target="_blank" class="icons">
            <img style="height:30pt;width:auto;" src="/bundle/facebook-icon-light.svg" alt="Facebook">
        </a>
    </div>
</div>
</footer>
