{{- $resource := page.Resources.Get .Destination }}
{{/* fall back to local resources of one page hierarchy higher */}}
{{- if and (not $resource) page.CurrentSection }}
    {{- $resource = page.CurrentSection.Resources.Get .Destination }}
{{ end }}
{{/* fall back to global resources */}}
{{- if (not $resource) }}
    {{- $resource = resources.Get .Destination }}
{{- end }}

{{- $plaintext := "" }}
{{- with .PlainText }}{{ $plaintext = . }}{{ end }}
{{- $title := "" }}
{{- with .Title }}{{ $title = . }}{{ end }}
{{- $destination := "" }}
{{- with .Destination }}{{ $destination = . }}{{ end }}
{{- $attributes := (slice ) }} 
{{- with .Attributes }}{{ $attributes = . }}{{ end }}
{{- $fullwidth := false }}
{{- with .FullWidth }}{{ $fullwidth = . }}{{ end }}


{{- $src := "" }}
{{- if $resource }}
    {{- $src = $resource.Permalink }}
{{- else }}
    {{- $u := urls.Parse $destination -}}
    {{- $src = $u.String -}}
    {{- if not $u.IsAbs -}}
        {{- $path := strings.TrimPrefix "./" $u.Path -}}
        {{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
            {{- $src = .Permalink -}}
            {{- with $u.RawQuery -}}
                {{- $src = printf "%s?%s" $src . -}}
            {{- end -}}
            {{- with $u.Fragment -}}
                {{- $src = printf "%s#%s" $src . -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end }}
<figure class="mx-3 flex flex-col items-center">
    <img src="{{ $src }}" class="my-3 max-w-full h-auto {{ if $fullwidth }}{{ else }}max-h-96{{ end }}"
      {{- with $plaintext }} alt="{{ . }}" {{- end -}}
      {{- with $title }}{{ printf "title=%q" . | safe.HTMLAttr }}{{- end -}}
      {{- range $k, $v := $attributes -}}
        {{- if $v -}}
          {{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safe.HTMLAttr -}}
        {{- end -}}
      {{- end -}}
    >
    {{- with $title }}
    <div class="flex flex-col items-center mb-3">
      <figcaption>{{ . }}</figcaption>
    </div>
    {{- end }}
</figure>
{{- /**/ -}}
