<nav class="fixed top-0 w-full overflow-hidden z-10 text-white">
    <ul class="h-12 bg-primary-light list-none rounded-md flex
        text-lg m-2 flex-nowrap justify-between items-stretch">
        <a href="{{ (.GetPage "/").Permalink }}" class="flex bg-transparent">
            <img
                class="order-[0] h-full max-w-20 rounded-md p-1 font-bold whitespace-nowrap"
                src="{{- (resources.Get .Site.Params.icon_image).Permalink -}}">
            </img>
        </a>
        <div class="order-1 flex relative w-auto overflow-x-auto">
            {{ range $nav := .Site.Params.home.nav_items }}
            {{ $page := $.Site.GetPage $nav }}
            <li class="order-1 w-full text-center items-center font-bold
                flex-row flex-nowrap flex ml-0 mr-3 md:mr-8">
                <a class="bg-transparent" href="{{ $page.Permalink }}">{{$page.LinkTitle}}</a>
            </li> <!--top-nav__link-->
            {{ end }}
            <!--
            <li class="top-nav__link"><a href="/termine">{{ i18n "events" }}</a></li>
            <li class="top-nav__link"><a href="/trip_reports">{{ i18n "trip_reports" }}</a></li>
            <li class="top-nav__link"><a href="/beginners">{{ i18n "beginner" }}</a></li>
            <li class="top-nav__link"><a href="/news">{{ i18n "news" }}</a></li>
            -->
            <!--<li class="top-nav__link"><a href="#"><img class="top-nav__icons" src="/bundle/search-icon-light.svg"></a></li>-->
        </div>
    </ul>
</nav>
