<nav class="fixed top-0 w-full overflow-hidden z-10">
    <ul class="h-12 bg-primary-light list-none rounded-md flex
        m-2 flex-nowrap justify-between items-stretch">
        <a href="/" style="display:flex;"><img class="top-nav__logo" src="{{- (resources.Get "bundle/kst_wikingerschiff_simplistic_light.svg").RelPermalink -}}
            "></img></a>
        <div class="top-nav__link-group">
            <li class="top-nav__link"><a href="/termine">{{ i18n "events" }}</a></li>
            <li class="top-nav__link"><a href="/trip_reports">{{ i18n "trip_reports" }}</a></li>
            <li class="top-nav__link"><a href="/beginners">{{ i18n "beginner" }}</a></li>
            <li class="top-nav__link"><a href="/news">{{ i18n "news" }}</a></li>
            <!--<li class="top-nav__link"><a href="#"><img class="top-nav__icons" src="/bundle/search-icon-light.svg"></a></li>-->
        </div>
    </ul>
</nav>
