{{ define "main" }}
<h1>{{ .Title }}</h1>
    <div class="h-full">
        {{ .Content }}
        {{ $paginator := (.Paginate (.CurrentSection.Pages.ByLinkTitle).Reverse .Site.Params.list.articles_per_site) -}}
        <div class="flex flex-row flex-wrap items-center justify-start">
            {{- range $paginator.Pages -}}
            {{- $cpage_name := path.BaseName .Path }}
            <a href="{{ .Permalink }}" class="m-1 p-3 h-14 flex flex-col items-center justify-center">
                <div class="border-0 rounded-lg font-bold text-center">{{ $cpage_name }}</div>
            </a>
            {{- end -}}
        </div>
    </div>
    <hr>
    <div class="flex justify-center">
    {{ partial "pagination.html" . }}
    </div>
{{ end }}
