@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1, h2, h3, h4, h5, h6 {
    @apply font-extrabold text-black;
    @apply font-bold py-5;
  }
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply leading-6
  }

  a, a:visited {
    @apply no-underline;
  }

  a:hover {
    @apply opacity-50;
  }

  br {
    @apply m-1;
  }

  @font-face {
    font-family: Noto Sans;
    src: url(/bundle/noto-sans/NotoSans-Regular.ttf);
  }
}

@layer utilities {
  .bg-primary-light {
    @apply bg-green-800;
  }
  .bg-primary-dark {
    @apply bg-green-800;
  }

  .text-primary-light {
    @apply text-black;
  }
  .text-primary-dark {
    @apply text-white;
  }

  .bg-secondary-light {
    @apply bg-white;
  }
  .bg-secondary-dark {
    @apply bg-gray-800;
  }

  .text-secondary-light {
    @apply text-black;
  }
  .text-secondary-dark {
    @apply text-white;
  }
}
