<!DOCTYPE html>
{{- $lang := site.Language.Lang }}
{{- with page.Params.language }}{{ $lang = . | safeHTML }}{{- end }}

<html lang="{{ $lang }}" class="h-full">
    <head>
        {{- partial "head-meta.html" . -}}

        <script type="text/javascript" src="{{ (resources.Get "/js/cookies.js").Permalink }}"></script>
        <link rel="icon" type="image/x-icon" href="{{- (resources.Get site.Params.icon_image).Permalink -}}"/>

        {{- $styles := resources.Get "css/styles.css"
            | postCSS (dict "config" "../../assets/css/postcss.config.js") }}
        {{- $styles := $styles | minify | fingerprint | css.PostCSS }}

        {{- $styles = $styles | minify | fingerprint | resources.PostProcess -}}

        <link rel="stylesheet" href="{{ $styles.Permalink }}" />
        <style>
            @font-face {
                font-family: Noto Sans;
                src: url({{ (resources.Get "/bundle/noto-sans/NotoSans-Regular.ttf").Permalink }}) format('truetype');
            }

            .external-link::after {
                content: url({{ (resources.Get "/bundle/external_link_light.svg").Permalink}});
                display: block;
            }
        </style>

        {{- $css_options := dict
            "vars" (dict 
                "font_url" (resources.Get site.Params.font_url).Permalink
                "backdrop_image" (resources.Get site.Params.backdrop_image).Permalink
            )
        -}}
        {{ $style_main := resources.Get "sass/main.scss" | css.Sass $css_options | resources.Minify }}
        <link rel="stylesheet" href={{ $style_main.Permalink }}>
        {{- $style_slideshow := resources.Get "sass/slideshow.scss" | css.Sass | resources.Minify }}
        <link rel="stylesheet" href={{ $style_slideshow.Permalink }}>

        <!--{{ $style_bericht := resources.Get "sass/bericht.scss" | css.Sass | resources.Minify }}-->

        {{- with .OutputFormats.Get "rss" }}
            {{- printf `<link rel="%s" type="%s" href="%s" title="%s"></link>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
        {{- end -}}

        <meta name="publisher" content="{{site.Params.meta.publisher}}">
        <meta name="copyright" content="{{site.Params.meta.copyright}}">
        <meta name="page-topic" content="{{site.Params.meta.page_topic}}">
        <meta name="page-type" content="{{site.Params.meta.page_type}}">
        <meta name="revisit-after" content="{{site.Params.meta.revisit_after}}">

        {{- with site.Params.meta.default_tags -}}
        <meta name="keywords" content=" 
            {{- range $index, $ctag := . -}}
                {{- if $index -}},{{- end -}} {{- $ctag | safeHTML -}}
            {{- end -}}">
        {{- end }}

        {{- partial "analytics.html" . }}

        {{- block "head" . }}{{ end -}}
    </head>
    
    <body class="h-full flex flex-col">
        {{- partial "nav.html" . -}}
        <div class="min-h-full w-full h-auto fixed top-0 left-0
                bg-white -z-10 bg-center bg-cover bg-no-repeat
                blur opacity-90"
             style="background-image: url(&quot;{{ (resources.Get site.Params.backdrop_image).Permalink }}&quot;);"></div>
        <main class="flex flex-col items-center flex-grow">
            <div class="flex flex-grow xs:w-25 w-full lg:w-[60rem] mt-20 mb-14"
                id="content-container">
                <div class="flex flex-grow flex-col flex-nowrap items-stretch m-0 p-2 md:p-10
                    rounded-lg bg-gray-100" id="content-scroll">
                    <div class="w-full flex flex-row flex-nowrap content-between">
                        <div class="grow">{{- if not .IsHome }}{{- partial "breadcrumbs.html" . }}{{- end }}</div>
                        {{- with page.Params.lang_change }}
                            {{- $label := .label }}
                            {{- with $p := site.GetPage .path }}
                                <div class="flex flex-row justify-end">
                                    <a href="{{ $p.Permalink }}">{{ $label }} - {{ .Title }}</a>
                                </div>
                            {{- end }}
                        {{- end }}
                    </div>

                    {{- block "main" . }}{{ end -}}
                </div>
            </div>
        </main>
        {{- partial "footer.html" . -}}

        {{- partial "cookie_banner.html" -}}
    </body>
</html>
