{{ define "main" }}
    <div class="h-full">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ $paginator := (.Paginate (.CurrentSection.Pages.ByLinkTitle).Reverse .Site.Params.list.articles_per_site) -}}
        <div class="flex flex-row flex-wrap items-center justify-start">
            {{- range $paginator.Pages -}}
            <a href="{{ .Permalink }}" class="m-2 py-2 px-6 h-20 flex flex-col items-center justify-center">
                <div class="border-0 rounded-2xl font-bold text-center">{{ .Title }}</div>
            </a>
            {{- end -}}
        </div>
    </div>
    <hr>
    <div class="flex justify-center">
    {{ partial "pagination.html" . }}
    </div>
{{ end }}
