{{ define "main" }}
    <div class="h-full">
        <h1>{{ .Title }}</h1>

        {{ .Content }}

        {{ $paginator := (.Paginate (.Pages.ByParam "end").Reverse .Site.Params.articles_per_site) }}
        {{ range $paginator.Pages }}
        <a href="{{ .Permalink }}">
            <div class="border-0 rounded-md bg-gray-200 my-4 p-2 font-bold">
                {{ .Title }}
            </div>
        </a>
    {{ end }}
    </div>
    <hr>
    <div class="flex justify-center">
    {{ template "_internal/pagination.html" . }}
    </div>
{{ end }}
