{{ define "main" }}
    <div class="h-full">

        <h1>{{ .Title }}</h1>

        {{ .Content }}

        <div>
        {{ $paginator := (.Paginate (.Pages.ByParam "date").Reverse .Site.Params.list.articles_per_site) -}}
        {{- range $paginator.Pages -}}
            <a href="{{ .Permalink }}" class="p-0">
                <div class="px-1 flex flex-col flex-nowrap border-0 rounded-md bg-gray-200 my-4">
                    <div class="font-bold flex flex-row flex-nowrap pb-2">{{ .Title }}</div>
                    <div class="flex flex-row flex-nowrap">
                        {{- if .Params.begin }}
                            {{- (time .Params.begin).Format "02.01.2006" }}
                        {{- end }}
                        {{- with .Params.end }}
                            {{- i18n " until " }}
                            {{- (time .Params.end).Format "02.01.2006" }}
                        {{- end }}
                    </div>
                </div>
            </a>
        {{- end }}
        </div>
    </div>
    <hr>

    <div class="flex justify-center">
    {{- partial "pagination.html" . }}
    </div>

    <div class="flex flex-col">
        <!--<h3 class="text-center">{{ i18n "bericht_gruppierung" }}</h3>-->
        <h4 class="text-center">{{ strings.Title (i18n "bericht_jahr") }}</h4>
        <div class="flex flex-row flex-wrap justify-center">
            {{- range .Page.Pages.GroupByPublishDate "2006" }}
            <a class="mx-1 my-0.5 rounded-full bg-primary-light text-white" href="{{ ($.GetPage (printf "/jahr/%s" .Key)).Permalink }}">{{ strings.Title .Key }}</a>
            {{- end }}
        </div>
        {{- range $tax, $tax_v := $.Site.Taxonomies }}
            {{- if not (eq (len $tax_v) 0) }}
            <h4 class="text-center">{{ strings.Title $tax }}</h3>
            <div class="flex flex-row flex-wrap justify-center">
                {{- range $term, $term_v := $tax_v }}
                <a class="mx-1 my-0.5 rounded-full bg-primary-light text-white" href="{{ $term_v.Page.Permalink }}">{{ $term_v.Page.Title }}</a>
                {{- end }}
            </div>
            {{- end }}
        {{- end }}
    </div>
{{ end }}
