{{ define "main" }}
    <div class="h-full">
        <h1>{{ .Title }}</h1>

        {{ .Content }}

        <div>
        {{- $paginator := (.Paginate (.Pages.ByParam "date").Reverse .Site.Params.list.articles_per_site) }}
        {{- range $paginator.Pages }}
        <a href="{{ .Permalink }}" class="p-0">
            <div class="flex flex-flow flex-nowrap border-0 rounded-md bg-gray-200 my-4 py-2 px-4">
                <div class="font-bold flex-nowrap flex-grow text-start">{{ .Title }}</div>
                {{- if .Params.begin }}
                <div class="flex flex-row flex-nowrap">
                    {{- (time .Params.begin).Format "02.01.2006" }}
                    {{- with .Params.end }}
                        {{- i18n "until" }}
                        {{- (time .Params.end).Format "02.01.2006" }}
                    {{- end }}
                </div>
                {{ else }}
                {{- with .Date -}}
                    <div>{{ .Format "02.01.2006" }}</div>
                {{- end }}
                {{- end }}
            </div>
        </a>
        {{- end }}
        </div>
    </div>
    <hr>
    <div class="flex justify-center">
    {{- partial "pagination.html" . }}
    </div>
{{ end }}
