{{- $resource := page.Resources.Get .Destination }}
{{- if $resource }}
  {{- if eq $resource.MediaType.MainType "video"}}
    {{- partial "video.html" (dict 
      "src" .Destination
      "Title" .Title
      "PlainText" .PlainText) }}
  {{- else if eq $resource.MediaType.MainType "image"}}
    {{- partial "image.html" . }}
  {{- else }}{{- warnf "(Page %v (%v)) Media resource '%v' is of unknown media type '%v'" page.Path  page.Title .Destination $resource.MediaType.MainType }}{{- end }}
{{- else }}
  {{- warnf "(Page %v (%v)) No resource found at destination '%v', assuming image..." page.Path page.Title .Destination }}
  {{- partial "image.html" . }}
{{- end }}
