{{/*
    Embed an image with more options

    'title', 'plaintext' and 'small' attributes are optional

    Usage:

    ```
    {{< image src="url" title="title" small="true" plaintext="This video shows a bear" >}}
    ```
*/}}

{{- $src := .Get "src" }}
{{- $title := .Get "title" }}
{{- $plaintext := .Get "plaintext" }}
{{- $small := true }}
{{- with .Get "small" }}
    {{- if eq . "false"}}
        {{- $small = false }}
    {{- else }}
        {{ if eq . "true" }}
            {{- $small = true }}
        {{- else }} {{ errorf "small has to be one of 'true' or 'false', but was '%q'" . }} {{- end }}
    {{- end }}
{{- end }}
{{- partial "image" (dict
    "Destination" $src
    "Title" $title
    "FullWidth" (not $small)
    "PlainText" $plaintext)
}}
