{{- if ne $.Site.Params.trip_announcement_count 0 }}
<h3 class="w-full text-center">{{ i18n "home_ausschreibungen" }}</h3>
<ul>
    {{- range first $.Site.Params.home.trip_announcement_count (
        sort (page.GetPage "/ausschreibungen").RegularPages "Date" "desc") }}
    <li class="list-none ml-0 w-full flex py-1 px-3">
        <a class="w-full grow flex text-start flex-row" href="{{ .Permalink }}">
            <div class="flex-grow">{{- .Title }}</div>
            {{ with .Date }}<div>{{ .Format "02.01.2006" }}</div>{{ end }}
        </a>
    </li>
    {{- end }}
</ul>
{{- end }}
