{{/*
    Use inside a slider

    The slider id has to be unique per page (Only if there have to be more than one slider on one page).

    ```
    {{< slider id="unique-slider-id-here" >}}
        {{< slider-entry
            text="shown text here"
            img="relative-link-to-image-here (images/slider-example.jpg)"
            href="link-to-corresponding-page-here" >}}
    {{< /slider >}}
    ```
*/}}

{{- $href := .Get "href"}}
{{- $text := .Get "text" }}
{{- $img := .Get "img" }}
{{- $slideshow_id := .Parent.Get "id" }}

{{- $img_resource := page.Resources.Get $img }}
{{- if not $img_resource }}{{ $img_resource = resources.Get $img }}{{ end }}
{{- with $img_resource }}
<div
    class="absolute left-0 top-0 opacity-0 w-full h-full
        object-cover bg-cover bg-center slideshow_slides_{{ $slideshow_id }}"
    style="transition: opacity 1s ease-in-out;
        background-image: url(&quot;{{ $img_resource.Permalink }}&quot;);"
    data-href="{{- if $href }}{{- page.Ref (dict "path" $href "lang" "de") }}{{ else }}#{{ end }}"
>
    {{ with $text }}
    <div class="text-center text-white text-lg px-9 py-2
        absolute bottom-4 w-full bg-opacity-50 bg-black"
    >{{ . }}</div>
    {{ end }}
</div>
{{- end }}
