{{ define "main" }}

<div class="flex flex-col justify-start">
    <h1>{{ .Title }}</h1>

    {{- if .Params.news_slide }}
        {{- partial "news_slide.html" . }}
    {{- end }}

    {{- with .Params.overview -}}
    <div class="flex flex-col md:flex-row mb-10">
        <div class="basis-1/2">
            {{- with .left }}
            <ul>
                {{- range . }}
                <li><a href="{{ $.Ref (dict "href" .href "lang" "de") }}">{{ i18n .translation_key }}</a></li>
                {{- end }}
            </ul>
            {{ end }}
        </div>
        <div class="basis-1/2">
            {{- with .right }}
            <ul>
                {{- range . }}
                <li><a href="{{ $.Ref (dict "href" .href "lang" "de") }}">{{ i18n .translation_key }}</a></li>
                {{- end }}
            </ul>
            {{- end }}
        </div>
    </div>
    {{- end -}}


    <div class="flex flex-col md:flex-row">
        <div class="basis-1/2">
            <h3 class="w-full text-center">{{ i18n "home_news_und_berichte" }}</h3>
            <ul>
                {{- range first $.Site.Params.home.news_count (sort (append
                    ($.GetPage "/neuigkeiten").RegularPages
                    ($.GetPage "/berichte").RegularPages
                )
                "Date" "desc")
                }}
                <li class="list-none ml-0 w-full flex py-1 px-3">
                    <a class="w-full grow flex text-start flex-row" href="{{ .Permalink }}">
                        <div class="flex-grow">{{- .Title }}</div>
                        <div>{{ with .Date }}{{ .Format "02.01.2006" }}{{ end }}</div>
                    </a>
                </li>
                {{- end }}
            </ul>
        </div>
        <div class="basis-1/2">
            <h3 class="w-full text-center">{{ i18n "home_ausschreibungen" }}</h3>
            <ul>
                {{- range first $.Site.Params.home.trip_announcement_count (sort ($.GetPage "/ausschreibungen").RegularPages "Date" "desc") }}
                <li class="list-none ml-0 w-full flex py-1 px-3">
                    <a class="w-full grow flex text-start flex-row" href="{{ .Permalink }}">
                        <div class="flex-grow">{{- .Title }}</div>
                        {{ with .Date }}<div>{{ .Format "02.01.2006" }}</div>{{ end }}
                    </a>
                </li>
                {{- end }}
            </ul>
        </div>
    </div>
    
    {{ .Content }}

    <!--{{ .Content }}-->
</div>

{{ end }}
