{{- $date_format := site.Params.list.date_format }}

{{- $args := . }}

{{/* Hide past posts, mostly relevant for future dates */}}
{{- $hide_past_posts := false }}
{{- if and $args (isset $args "hide_past_posts") }}{{ $hide_past_posts = $args.hide_past_posts }}{{ end }}

{{- $sort_param := "date" }}
{{- if and $args (isset $args "sort_param") }}{{ $sort_param = $args.sort_param }}{{ end }}

{{- $reverse := true }}
{{- if and $args (isset $args "reverse") }}{{ $reverse = $args.reverse }}{{ end }}

{{- $paginate := true }}
{{- if and $args (isset $args "paginate" )}}{{ $paginate = $args.paginate}}{{ end }}

{{- $pages := (page.Pages.ByParam $sort_param) }}
{{- if $reverse }}{{ $pages = $pages.Reverse }}{{ end }}
{{- if $paginate }}
    {{- $paginator := (page.Paginate $pages site.Params.list.articles_per_site) }}
    {{- $pages = $paginator.Pages }}
{{- end }}

{{- $sort_by_date := eq $sort_param "date" }}
{{- if $paginate }}
    <div class="flex justify-center">
        {{ partial "intern/pagination.html" (dict "page" page) }}
    </div>

    <hr>
    {{- end }}

    <div class="flex flex-col flex-grow">
        {{- if $hide_past_posts }}
            {{- if $sort_by_date }}
                {{- errorf "hide_past_posts and sorting by date is not supported! This will always result in no posts whatsoever." }}
            {{- else }}
                {{/* Filter out events that are already over */}}
                {{- $pages_new := slice }}
                {{- range $cpage := $pages }}
                    {{- if gt (time.AsTime (index $cpage.Params $sort_param)) now }}
                        {{- $pages_new = $pages_new | append $cpage }}
                    {{- end }}
                {{- end }}
                {{- $pages = $pages_new }}
            {{- end }}
        {{- end }}

        {{/* rewrite redirect pages */}}
        {{- $pages_new := slice }}
        {{- range $cpage := $pages }}
            {{- if eq $cpage.Type "mirror" }}
                {{- $pages_new = $pages_new | append ($cpage.GetPage $cpage.Params.redirectto) }}
                {{/*<h1>MIRROR to {{ $cpage.Params.Permalink}}</h1>*/}}
            {{- else }}
                {{- $pages_new = $pages_new | append $cpage }}
            {{- end }}
        {{- end }}
        {{- $pages = $pages_new }}

        {{- range $pages }}
        {{- if not .Params.hidden }}
        <a href="{{ .Permalink }}" class="p-0 my-2">
            <div class="flex flex-col flex-nowrap border-0 rounded-md bg-gray-200 my-2 px-4">
                <div class="flex flex-row">
                    <div class="flex-grow font-bold flex flex-row flex-nowrap">{{ .Title }}</div>
                    <div>
                        {{- if $sort_by_date }}
                            {{- .Params.date.Format $date_format }}
                        {{- else }}
                            {{- (time (index .Params $sort_param)).Format $date_format }}
                        {{- end }}
                    </div>
                </div>
                {{- if and .Params.begin $sort_by_date }}
                <div class="flex flex-row flex-nowrap pt-2">
                        {{ (time .Params.begin).Format $date_format }}
                        {{- with .Params.end }} - {{ (time .).Format $date_format }}{{- end }}
                </div>
                {{- end }}
            </div>
        </a>
        {{- end }}
        {{- end }}
        <div class="flex-grow"></div>
    </div>

    {{- if $paginate }}
    <hr>

    <div class="flex justify-center">
        {{ partial "intern/pagination.html" (dict "page" page) }}
    </div>
{{- end }}
