{{- $date_format := site.Params.list.date_format }}

{{- $args := . }}

{{- $sort_param := "date" }}
{{- if and $args (isset $args "sort_param") }}{{ $sort_param = $args.sort_param }}{{ end }}

{{- $reverse := true }}
{{- if and $args (isset $args "reverse") }}{{ $reverse = $args.reverse }}{{ end }}

{{- $paginate := true }}
{{- if and $args (isset $args "paginate" )}}{{ $paginate = $args.paginate}}{{ end }}

{{- $sort_by_date := eq $sort_param "date" }}
<div class="h-full">
    {{- partial "intern/page-title.html" page.Title }}

    {{ page.Content }}

    <div>
    {{- $pages := (page.Pages.ByParam $sort_param) }}
    {{- if $reverse }}{{ $pages = $pages.Reverse }}{{ end }}
    {{- if $paginate }}
        {{- $paginator := (page.Paginate $pages site.Params.list.articles_per_site) }}
        {{- $pages = $paginator.Pages }}
    {{- end }}
    {{- range $pages }}
        {{- if not .Params.hidden }}
        <a href="{{ .Permalink }}" class="p-0">
            <div class="flex flex-col flex-nowrap border-0 rounded-md bg-gray-200 my-4 py-2 px-4">
                <div class="flex flex-row">
                    <div class="flex-grow font-bold flex flex-row flex-nowrap">{{ .Title }}</div>
                    <div>
                        {{- if $sort_by_date }}
                            {{- .Params.date.Format $date_format }}
                        {{- else }}
                            {{- (time (index .Params $sort_param)).Format $date_format }}
                        {{- end }}
                    </div>
                </div>
                {{- if and .Params.begin $sort_by_date }}
                <div class="flex flex-row flex-nowrap pt-2">
                        {{ (time .Params.begin).Format $date_format }}
                        {{- with .Params.end }} - {{ (time .).Format $date_format }}{{- end }}
                </div>
                {{- end }}
            </div>
        </a>
        {{- end }}
    {{- end }}
    </div>
</div>
<hr>
{{- if $paginate }}
<div class="flex justify-center">
    {{ partial "intern/pagination.html" }}
</div>
{{- end }}
