{{ define "head" }}
    {{ with .Params.description }}
    <meta name="description" content="{{ . }}">
    {{ end }}

    {{ with .Params.tags }}
    <meta name="keywords" content=" 
        {{- range $index, $ctag := . -}}
            {{- if $index -}},{{- end -}} {{- $ctag | safeHTML -}}
        {{- end -}} ">
    {{ end }}
{{ end }}

{{ define "main" }}
<div class="flex flex-col">
    <h1>{{ .Title }}</h1>
    <hr class="border-solid border-gray-400 rounded-sm border-2 my-2" />
    <div class="w-full flex justify-between px-0 py-2">
        <span>
            {{ if and (isset .Params "begin") (isset .Params "end") }}
            {{ (time .Params.end).Format "2.01.2006" }} bis {{ (time .Params.begin).Format "2.01.2006" }}
            {{ end }}
        </span>
        <span> {{ i18n "trip_report_written_by" }} {{ .Params.author }} </span>
        <!-- Tag navigation may be added later -->
    </div>
</div>
<div class="flex-grow">
    {{ .Content }}
</div>
<hr class="border-solid border-gray-400 rounded-sm border-2 my-2" />
<div class="flex w-full justify-between">
    <span>
        {{ with .PrevInSection }}
        <a href="{{ .RelPermalink }}">&laquo; {{ .Title }}</a>
        {{ end }}
    </span>

    <span>
        {{ with .NextInSection }}
        <span><a href="{{ .RelPermalink }}">{{ .Title }} &raquo;</a>
            {{ end }}
        </span>
    </span>
</div>
{{ end }}
